<% if (theme.social_links['mail']) { %>
<div class="blog-post-comments">
  <p>Tu peux commenter en m'écrivant un petit mail <a class="icon" href="mailto:<%= theme.social_links['mail'] %>?subject=[Blog] <%= page_title() %>">
    <i class="fas fa-envelope"></i>
  </a>, je l'insérerai à la fin de l'article.</p>
</div>
  <% } %>

